nav {
  background-color: blueviolet;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  margin: 0 15px;
}

a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

a:hover {
  color: #b8c7d1;
}

.dashboard,
.newClass,
.manageTeachers,
.attendance,
.schedule,
.signout,
.signin {
  padding: 8px 12px;
  border-radius: 4px;
}

.signup {
  margin-right: 1220px;
}
.signout {
  background-color: #e74c3c;
  color: white;
}

.signout:hover {
  background-color: #c0392b;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }
}
